@model Music_Society_Forum.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @if (ViewBag.PostAuthor != null)
            {
                @ViewBag.PostAuthor.FullName @:(@ViewBag.PostAuthor.UserName)
            }
            else
            {
                <i>Undisclosed author</i>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")

    @*  Admins can edit and delete ALL Posts,
        post Owners can edit their own posts, but cannot delete them. *@
    @if(ViewBag.IsAdmin)
    {
        @: | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @: | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    }
    else if(ViewBag.IsOwner)
    {
        @: | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>