@model IEnumerable<Music_Society_Forum.Models.Post>
    
@using Music_Society_Forum.Classes;

@{
    ViewBag.Title = "Reviews";
}

<h2 class="view-header">All Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>Content</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
        <th>Actions</th>
    </tr>

@foreach (var post in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => post.Title)
        </td>
        <td>
            @Html.Raw(Utils.CutText(post.Body))
        </td>
        <td>
            @Html.DisplayFor(modelItem => post.Date)
        </td>
        <td>
            @if (post.Author != null)
            {
                if (post.Author.FullName != null)
                {
                    @Html.DisplayFor(modelItem => post.Author.FullName)
                    @:(@Html.DisplayFor(modelItem => post.Author.UserName))
                }
                else
                {
                    @Html.DisplayFor(modelItem => post.Author.UserName)
                }
            }
            else
            {
                <i>Undisclosed author</i>
            }
        </td>
        <td>
            @post.Comments.Count
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = post.Id })

            @*  Admins can edit and delete ALL Posts, 
                post Owners can edit their own posts, but cannot delete them. *@
            @if (ViewBag.IsAdmin)
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                @: | @Html.ActionLink("Delete", "Delete", new { id = post.Id })
            }
            else if (post.Author_Id != null && 
                     post.Author.UserName == User.Identity.Name)
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = post.Id })
            }
        </td>
    </tr>
}

</table>
