@model IEnumerable<Music_Society_Forum.Models.Post>
    
@using Music_Society_Forum.Classes;

@{
    ViewBag.Title = "My Texts";
}

@*My Reviews*@
<h2 class="view-header">My Reviews</h2>
<p>
    @Html.ActionLink("Create New Review", "Create")
</p>
@if (Model.Count() == 0)
{
    <div>You have not submitted any reviews yet.</div>
}
else
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>Content</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Comments)</th>
            <th>Actions</th>
        </tr>

    @foreach (var post in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => post.Title)
            </td>
            <td>
                @Html.Raw(Utils.CutText(post.Body))
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Comments.Count)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = post.Id })

                @*  Admins can edit and delete ALL Posts, 
                    post Owners can edit their own posts, but cannot delete them. *@
                @if (ViewBag.IsAdmin == true)
                {
                    @: | @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                    @: | @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                }
                else
                {
                    @: | @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                    if (post.Comments.Count == 0)
                    {
                        @: | @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                    }
                }
            </td>
        </tr>
    }

    </table>
}

@*My Comments*@
<h2 class="view-header">My Comments</h2>
<p>
    @Html.ActionLink("Create New Comment", "Create", "Comments")
</p>
@if (ViewBag.Comments.Count > 0)
{
    <table class="table">
        <tr>
            <th>On</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>

        @foreach (var comment in ViewBag.Comments)
        {
            <tr>
                <td>
                    @comment.Post.Title
                </td>
                <td>
                    @Html.Raw(Utils.CutText(comment.Text))
                </td>
                <td>
                    @comment.Date
                </td>
                <td>
                    @Html.ActionLink("Details", "../Comments/Details", new { id = comment.Id })

                    | @Html.ActionLink("Edit", "../Comments/Edit", new { id = comment.Id })
                    | @Html.ActionLink("Delete", "../Comments/Delete", new { id = comment.Id })

                    @* only admins can delete posts, owners can edit *@
                    @*@if (ViewBag.IsAdmin == true)
                    {
                        @: | @Html.ActionLink("Edit", "../Comments/Edit", new { id = comment.Id })
                        @: | @Html.ActionLink("Delete", "../Comments/Delete", new { id = comment.Id })
                    }
                    else
                    {
                        @: | @Html.ActionLink("Edit", "../Comments/Edit", new { id = comment.Id })
                    }*@
                </td>
            </tr>
        }

    </table>
}
else
{
    <div>You have not submitted any comments yet.</div>
}