@*@model IEnumerable<Music_Society_Forum.Models.Comment>*@

@* Paging Links References *@
@model PagedList.IPagedList<Music_Society_Forum.Models.Comment>
@using Music_Society_Forum.Classes;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "My Comments";
}

<h2 class="view-header">@ViewBag.Title (@Model.Count())</h2>

@*<p>
    @Html.ActionLink("Create New", "Create", "Comments")
</p>*@

@* Search *@
@using (Html.BeginForm("Comments", "My", FormMethod.Get))
{
    <p class="search">
        @Html.TextBox("searchString", (string)ViewBag.CurrentFilter)        
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        @* Column Sorting Links *@
        <th>@Html.ActionLink("On", "Comments", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter })</th>
        <th>Comment</th>
        <th>@Html.ActionLink("Date", "Comments", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Author", "Comments", new { sortOrder = ViewBag.AuthorSortParam, currentFilter = ViewBag.CurrentFilter })</th>
        <th>Actions</th>

        @*<th>On</th>
        <th>Comment</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>    
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>Actions</th>*@
    </tr>

@foreach (var comment in Model) {
    <tr>   
        <td>
            @Html.DisplayFor(modelItem => comment.Post.Title)
        </td>     
        <td>
            @Html.Raw(Utils.CutText(comment.Text))
        </td>
        <td>
            @Html.DisplayFor(modelItem => comment.Date)
        </td>        
        <td>
            @if (comment.Author != null)
            {
                if (comment.Author.FullName != null)
                {
                    @Html.DisplayFor(modelItem => comment.Author.FullName)
                    @:(@Html.DisplayFor(modelItem => comment.Author.UserName))
                }
                else
                {
                    @Html.DisplayFor(modelItem => comment.Author.UserName)
                }
            }
            else
            {
                <i>Undisclosed author</i>
            }
        </td>        
        <td>
            @Html.ActionLink("Details", "../Comments/Details", new { id=comment.Id })
            @if (ViewBag.IsAdmin || 
                (comment.Author_Id != null &&
                 comment.Author.UserName == User.Identity.Name))
            {
                @: | @Html.ActionLink("Edit", "../Comments/Edit", new { id = comment.Id })
                @: | @Html.ActionLink("Delete", "../Comments/Delete", new { id = comment.Id })
            }
            @*owners cannot delete comments*@
            @*else if (comment.Author_Id != null &&
                     comment.Author.UserName == User.Identity.Name)
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = comment.Id })
            }*@
        </td>
    </tr>
}

</table>

@* Paging Links *@
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Comments",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))