@model Music_Society_Forum.Models.Comment
@using Music_Society_Forum.Classes;

@{
    ViewBag.Title = "Details";
}

<section class="row">

    <article class="post col-md-8">

        @* Comment Details *@
        <h2 class="post-title">
            Comment on: @Html.DisplayFor(model => model.Post.Title)
        </h2>
        <div class="post-subtitle">
            Posted on <i>@Model.Date</i>
            @if (ViewBag.CommentAuthor != null)
            {
                @:by
                if (ViewBag.CommentAuthor.FullName != null)
                {
                    <i>@ViewBag.CommentAuthor.FullName (@ViewBag.CommentAuthor.UserName)</i>
                }
                else
                {
                    <i>@ViewBag.CommentAuthor.UserName</i>
                }
            }
        </div>
        <div class="post-body">
            @Html.Raw(Model.Text)
        </div>

        @* Comment Links *@
        <div class="post-links">
            @Html.ActionLink("Back to List", "Index")

            @*  Admins can edit and delete ALL Posts,
                post Owners can edit their own posts, also delete them. *@
            @if (ViewBag.IsAdmin || ViewBag.IsOwner)
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                @: | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            }
            @*else if (ViewBag.IsOwner)
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            }*@
        </div>
    </article> 

    @* Commented Post *@
    <aside class="comments-sidebar col-md-3">  

        @* Previous/ Next Links *@
        <h4 class="pagination">
            @if (ViewBag.Previous != null)
            {
                @Html.ActionLink("<< Previous", "Details", new { id = ViewBag.Previous.Id })
                if (ViewBag.Next != null)
                {
                    @: |
                }
            }
            @if (ViewBag.Next != null)
            {
                @Html.ActionLink("Next >>", "Details", new { id = ViewBag.Next.Id })
            }
        </h4>
        <hr />

        <h4 class="comments-header">
            Commented Review
        </h4>               
        <div class="comment">
            <div class="comment-title">
                @ViewBag.CommentedPost.Title
            </div>
            <div class="comment-subtitle">
                @ViewBag.CommentedPost.Date
                @if (ViewBag.PostAuthor != null)
                {
                    <br />@:by 
                    if (ViewBag.PostAuthor.FullName != null)
                    {
                        @ViewBag.PostAuthor.FullName
                    }
                    else
                    {
                        @ViewBag.PostAuthor.UserName
                    }
                }                
            </div>
            <div class="comment-text">
                @Html.Raw(Utils.CutText(ViewBag.CommentedPost.Body, 300))
                <p>
                    @Html.ActionLink("Read Review", "Details", "Posts", new { id = ViewBag.CommentedPost.Id }, null)
                </p>
            </div>             
        </div>

        <h4 class="comments-header">
            Comments (@ViewBag.CommentsCount)
        </h4>

        <div class="comment-links">
            @Html.ActionLink("Add Comment", "../Comments/Create", new { id = ViewBag.CommentedPost.Id })
            @*@Html.ActionLink("Read All", "../Comments/#", new { id = ViewBag.CommentedPost.Id })*@
        </div>
        
    </aside>  

    
</section>