@model IEnumerable<Music_Society_Forum.Models.Comment>
@using Music_Society_Forum.Classes;

@{
    ViewBag.Title = "Comments";
}

<h2 class="view-header">All Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @* Column Sorting Links *@
        <th>@Html.ActionLink("On", "Index", new { sortOrder = ViewBag.TitleSortParam })</th>
        <th>Comment</th>
        <th>@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParam })</th>
        <th>@Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParam })</th>
        <th>Actions</th>

        @*<th>On</th>
        <th>Comment</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>    
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>Actions</th>*@
    </tr>

@foreach (var comment in Model) {
    <tr>   
        <td>
            @Html.DisplayFor(modelItem => comment.Post.Title)
        </td>     
        <td>
            @Html.Raw(Utils.CutText(comment.Text))
        </td>
        <td>
            @Html.DisplayFor(modelItem => comment.Date)
        </td>        
        <td>
            @if (comment.Author != null)
            {
                if (comment.Author.FullName != null)
                {
                    @Html.DisplayFor(modelItem => comment.Author.FullName)
                    @:(@Html.DisplayFor(modelItem => comment.Author.UserName))
                }
                else
                {
                    @Html.DisplayFor(modelItem => comment.Author.UserName)
                }
            }
            else
            {
                <i>Undisclosed author</i>
            }
        </td>        
        <td>
            @Html.ActionLink("Details", "Details", new { id=comment.Id })
            @if (ViewBag.IsAdmin || 
                (comment.Author_Id != null &&
                 comment.Author.UserName == User.Identity.Name))
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = comment.Id })
                @: | @Html.ActionLink("Delete", "Delete", new { id = comment.Id })
            }
            @*owners cannot delete comments*@
            @*else if (comment.Author_Id != null &&
                     comment.Author.UserName == User.Identity.Name)
            {
                @: | @Html.ActionLink("Edit", "Edit", new { id = comment.Id })
            }*@
        </td>
    </tr>
}

</table>
